body {
  zoom: 0.8;
  margin: 0;
  padding: 0;
  justify-items: center;
  background-color: #F5FCFF;
  justify-content: center;
  font-family: Arial, sans-serif;
  flex-direction: column;
  color: #FFFFFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.g-recaptcha {
  margin-bottom: 25px;
}

.header {
  background-color: #007bff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  justify-content: left;
  margin-left: 20px;
}

.center{
  justify-content: center;
  justify-self: center;
}

.container {
  padding-top: 1050px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5FCFF;
  padding-bottom: 200px;
  height: 100vh; /* Added to make the container take full viewport height */
  padding-bottom: 100px;
}

.title {
  padding-top: 9999999999;
  color: #000;
  font-size: 75px;
  text-align: center;
  font-weight: bold;
}

.space{
  padding-top: 50px;
}

h3 {
  color: #000;
}

h2 {
  color: #000;
  margin: 25px;
}

h1 {
  color: #000;
}

p {
  color: #000;
  margin: 25px;
}

.input {
  height: 300px;
  width: 500px;
  margin: 20px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid gray;
}

.discription-input {
  height: 350px;
  width: 500px;
  padding: 20px;
  padding-bottom: 200px;
  margin: 10px;
  border: 2px solid gray;
}

.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  border-radius: 10px;
  margin-top: 50px;
  padding-bottom: 60px;
}

.description {
  margin-top: 20px;
}

.parograph {
  font-size: 40px;
  justify-content: center;
  justify-self: center;
}

.what-i-do {
  font-size: 40px;
  text-align: center;
}

.image {
  justify-self: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 670px;
  height: 670px;
}

.preview-title {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

.card-preview-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-preview {
  padding-top: 300px;
  padding: 10px;
  border-radius: 10px;
}

.card-preview-description {
  margin-top: 20px;
}

.card-preview-image {
  margin-bottom: 200px;
  width: 450px;
  height: 450px;
}

.page-preview-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-preview-image {
  justify-self: center;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.page-preview-description {
  margin-top: 20px;
}

.page-preview-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.page-preview-address {
  font-size: 40px;
  text-align: center;
}

.page-preview-paragraph {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  justify-self: center;
}

.page-preview-what-i-do {
  font-size: 40px;
  text-align: center;
}

.upload-image {
  font-size: 30px;
  text-align: center;
}

.button {
  background-color: #07ff;
  color: white;
  padding: 20px 100px;
  font-size: 40px;
  border: none;
  justify-content: center;
  margin-bottom: 100px;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: #03ff;
}

.custom-file-upload {
  justify-content: space-evenly;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: #45a049;
}