html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

@font-face {
  font-family: 'CalibriBold';
  src: url('assets/calibri-bold.ttf') format('truetype');
  /* Add more src definitions for different font formats (e.g., woff, woff2) for better browser support */
}
  
input {
  padding: 0px;
  width: 350px;
  height: 75px;
  border-radius: 8px; /* Adjust the border-radius to your preference */
  border: 10px solid #101010; /* Adjust the border width and color */
  outline: none; /* Remove default focus outline */
  text-align: center; /* Center text horizontally */
  font-family: 'CalibriBold', sans-serif; /* Use the Calibri Bold font */
  font-size: 50px;
}